@import url("https://fonts.googlepis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: rgb(29, 221, 189);
    --bgDark: rgb(12, 12, 12);
    --white: rgb(250, 250, 250);
    --secondary: rgb(98, 217, 199);
    --bgLight: rgb(190, 181, 181);
    --t: rgb(12, 12, 12);
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #d80b23, #7a68fe, #fc9628, #60cbb2);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
}


/*-----------navbar part starts--------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: 1.2s;
}

.header:hover::after {
    left: 100%;
}

header a:hover {
    color: rgb(21, 21, 114);
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/*Breakponts*/

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 1268px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 21.5rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    .navbar a:hover {
        color: rgb(21, 21, 114);
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.05s * var(--i));
    }
}

/*-----------navbar part ends--------------*/


/*-----------home part starts--------------*/
.box1 {
    margin-top: 5%;
    margin-left: 36.5%;
    position: relative;
    width: 400px;
    height: 400px;
    align-items: center;
    background: rgba(37, 35, 35, 0.5);
    border-radius: 50%;
    overflow: hidden;
}

.box1::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.box1:hover::before {
    inset: -20px 0px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box1::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #232f6a;
    border-radius: 50%;
    z-index: 1;
}


@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


.content1 {
    position: absolute;
    inset: 30px;
    border: 6px solid #101a5a;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.box1:hover .content1 img {
    opacity: 0;
}

.content1 h2 {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.content1 h2 span {
    font-weight: 300;
    font-size: 0.75em;
}

.content1 a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: #070a1c;
    border-radius: 25px;
    font-weight: 500;
    font-size: 0.95em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}

.content1 a:hover {
    letter-spacing: 0.2em;
    box-shadow: 0 0 10px 5px rgba(178, 158, 158, 0.3);
}

.wrapper {
    display: inline-flex;
    margin-left: 37%;
}

.wrapper .icon {
    margin: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.wrapper .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .icon span i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .icon:hover span {
    color: #fff;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .tooltip:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #3b5999;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #46C1F6;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e1306c;
}

.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333;
}

/*------------ends the home part--------------*/



/*------------start the about part--------------*/
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}


.heading h1 {
    margin: 0.3em;
    font-size: 2.5em;
    font-weight: normal;
    position: relative;
    margin: 40px 0;
}

.heading h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animabout 4s linear infinite;
}

@keyframes animabout {
    0% {
        width: 200px;
    }

    50% {
        width: 300px;
    }

    100% {
        width: 200px;
    }
}


.container1 {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.about1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image1 {
    flex: 1;
    margin-right: 20px;
    overflow: hidden;
}

.about-image1 img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image1:hover img {
    transform: scale(1.4);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #333;
}

.about-content h2:hover {
    color: #04105c;
}

.about-content p {
    font-size: 19px;
    line-height: 1.5;
    margin-right: 20px;
    text-align: justify;
    color: #302f2f;
}

.about-content .hire-me {
    display: inline-block;
    padding: 10px 20px;
    background-color: #522805;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.3s ease;
}

.about-content .hire-me:hover {
    background-color: #04bc0a;
    letter-spacing: 0.2em;
    box-shadow: 0 0 10px 5px rgba(10, 9, 94, 0.3);
}

@media screen and (max-width: 768px) {
    .heading {
        padding: 0px 20px;
    }

    .heading h1 {
        font-size: 36px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .container1 {
        padding: 0px;
    }

    .about1 {
        padding: 20px;
        flex-direction: column;
    }

    .about-image1 {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about-content p {
        padding: 0px;
        font-size: 16px;
    }

    .about-content .hire-me {
        font-size: 16px;
    }
}

/*------------ends the about part--------------*/




/*------------start the education part--------------*/

/*------------start the education part--------------*/

.education1 {
    text-align: center;
}

.education1 h1 {
    margin: 0.1em;
    font-size: 2.5em;
    font-weight: normal;
    position: relative;
    margin: 40px 0;
}

.education1 h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animedu 4s linear infinite;
}

@keyframes animedu {
    0% {
        width: 200px;
    }

    50% {
        width: 300px;
    }

    100% {
        width: 200px;
    }
}

.timeline1 {
    margin: 1em auto;
    max-width: 90%; /* Adjust for responsiveness */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #d80b23, #7a68fe, #fc9628, #60cbb2);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
}

.checkpoint1 {
    max-width: 80%; /* Adjust for responsiveness */
    width: 100%; 
    padding: 2em 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkpoint1 div {
    border: 2px solid #201e1e;
    border-radius: 1em;
    padding: 1.5em;
    background-color: #fff; /* Ensure readability */
    max-width: 90%;
    width: fit-content;
    text-align: center;
    position: relative;
}

.checkpoint1 div:hover {
    color: #010827;
}

.checkpoint1 p {
    line-height: 27px;
    color: #161616;
}

.checkpoint1:nth-child(odd),
.checkpoint1:nth-child(even) {
    transform: none; /* Disable transform to center the content */
}

.checkpoint1:nth-child(odd)::before,
.checkpoint1:nth-child(even)::before {
    content: '';
    background: #090909;
    width: 3px;
    height: 20px;
    position: absolute;
    top: -10px; /* Adjust position for responsiveness */
    left: 50%;
    transform: translateX(-50%);
}

.checkpoint1 div::before {
    content: '';
    background: #e9bdbd;
    box-shadow: 0 0 0.5em #1a5ab5;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

@media screen and (max-width: 1150px) {
    .timeline1 {
        max-width: 95vw; /* Allow more space for smaller screens */
        padding: 0 1em;
    }

    .checkpoint1 {
        max-width: 100%;
    }

    .checkpoint1::before {
        top: -1em;
        left: 50%;
        transform: translateX(-50%);
    }

    .checkpoint1 div::before {
        top: -0.8em;
        left: 50%;
        transform: translateX(-50%);
    }
}

/*------------ends the education part--------------*/



/*------------ends the education part--------------*/





/*------------start the skills part--------------*/
/*------------start the skills part--------------*/

.container2 {
    width: 100%;
    min-height: 10vh;
    padding: 10px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 .main-title {
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
}

.container2 .main-title h1 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

.container2 .main-title h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: anims 4s linear infinite;
}

@keyframes anims {
    0% {
        width: 120px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 120px;
    }
}

.container2 .row2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Enables wrapping for smaller screens */
    margin-top: 70px;
    gap: 20px; /* Adds spacing between columns */
}

.row2 .col1 {
    flex-basis: 30%; /* Allows flexible column width */
    text-align: center; /* Centers column content */
}

.row2 .sub-title h2 {
    position: relative;
    color: #242223;
    font-size: 22px;
    display: inline-block;
    margin-bottom: 30px;
}

.row2 .sub-title h2::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #080808;
}

.row2 .sub-title h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #82101b;
}

.subject {
    font-size: 18px;
    font-weight: thin;
    color: #808080;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.progress-bar {
    position: relative;
    width: 70%; /* Adjusted for better scaling */
    height: 5px;
    background-color: #3d3d3d;
    border-radius: 15px;
    margin: 0 auto 20px auto; /* Centers the bar */
}

.progress-bar::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    color: #000000;
    font-size: 18px;
}

.progress-line {
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: #82101b;
    border-radius: 15px;
    top: -1px;
    animation: animates 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

@keyframes animates {
    100% {
        width: 100%;
    }
}

.progress-line::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #82101b;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
    .container2 {
        padding: 30px 8%;
    }

    .container2 .row2 {
        flex-direction: column; /* Stacks columns vertically */
        align-items: center; /* Centers content */
        margin-top: 30px;
    }

    .container2 .main-title h1 {
        font-size: 28px; /* Adjust font size */
    }

    .row2 .col1 {
        flex-basis: 100%; /* Full width for smaller screens */
    }

    .progress-bar {
        width: 80%; /* Scales progress bar for smaller screens */
    }
}

@media (max-width: 568px) {
    .container2 {
        padding: 20px 5%;
    }

    .container2 .main-title h1 {
        font-size: 24px; /* Further adjust font size */
    }

    .row2 .col1 {
        margin-bottom: 20px; /* Adds spacing between columns */
    }

    .progress-bar {
        width: 90%; /* Adjusts progress bar width */
    }
}

/*------------ends the skills part--------------*/

/*------------ends the skills part--------------*/





/*------------start the project part--------------*/

.project1 {
    text-align: center;
}


.project1 h1 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

.project1 h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animationproject 4s linear infinite;
}

@keyframes animationproject {
    0% {
        width: 120px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 120px;
    }
}


.card-container1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    background: linear-gradient(45deg, #d80b23, #7a68fe, #fc9628, #60cbb2);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
}

.content-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-section1 .card1 {
    flex: 1;
    margin: 20px 40px;
    border-radius: 5px;
    background: linear-gradient(40deg, rgb(123, 211, 236), rgb(173, 201, 245), rgb(150, 150, 241), rgb(194, 155, 205));
    animation: color 15s ease-in-out infinite;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.content-section1 .card1:hover {
    transform: scale(1.15);
}

.content-section1 .card1 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.content-section1 .card1 .h3 {
    margin: 15px 0px;
    font-size: 28px;
    color: #1662a1;
}

.content-section1 .card1 p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .content-section1 {
        flex-direction: column;
    }

    .project1 h1 {
        position: relative;
    }
}

/*------------ends the project part--------------*/



/*------------starts the gallery part--------------*/
.gallery input {
    display: none;
}

.contr1 {
    width: 100%;
    text-align: center;
}

.contr1 h1 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

.contr1 h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: anim 4s linear infinite;
}

@keyframes anim {
    0% {
        width: 100px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 100px;
    }
}

.top-content {
    background-color: rgb(210, 203, 203);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.top-content h3 {
    height: 100%;
    background-color: rgb(228, 228, 228);
    line-height: 60px;
    padding: 0 50px;
    color: rgb(62, 60, 60);
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.top-content label {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}

.top-content label:hover {
    color: #000;
}

.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.photo-gallery .pic {
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .5s;
}

.photo-gallery .pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
}

.pic:hover img {
    transform: scale(1.055);
}


.photo-gallery .pic::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: -100px;
    z-index: 1;
}

.photo-gallery .pic::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
}

.photo-gallery .pic:hover::after {
    height: 100%;
}

.photo-gallery .pic:hover::before {
    margin-top: 0;
}

#check1:checked~.photo-gallery .pic {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked~.photo-gallery .academic {
    transform: scale(1);
    opacity: 1;
    position: relative;
}

#check2:checked~.photo-gallery .personal,
#check2:checked~.photo-gallery .place {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check3:checked~.photo-gallery .personal {
    transform: scale(1);
    opacity: 1;
    position: relative;
}

#check3:checked~.photo-gallery .academic,
#check3:checked~.photo-gallery .place {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check4:checked~.photo-gallery .place {
    transform: scale(1);
    opacity: 1;
    position: relative;
}

#check4:checked~.photo-gallery .academic,
#check4:checked~.photo-gallery .personal {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

/*------------ends the gallery part--------------*/




section {
    padding: 2rem;
    background: linear-gradient(45deg, #d80b23, #7a68fe, #fc9628, #60cbb2);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
}





/*-----------contact part starts--------------*/
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contact .contact-content {
    max-width: 800px;
    text-align: center;
}

.contact .contact-content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #000;
    position: relative;
}

.contact .contact-content h2::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animateContacts 4s linear infinite;
}


@keyframes animateContacts {
    0% {
        width: 200px;
    }

    50% {
        width: 300px;
    }

    100% {
        width: 200px;
    }
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-container .contactinfo .contact-box {
    position: relative;
    padding: 20px 0;
    display: flex;
}


.contact-container .contactinfo .contact-box .contact-icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}


.contact-container .contactinfo .contact-box .contact-text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contact-container .contactinfo .contact-box .contact-text h3 {
    font-weight: 500;
    color: #020269;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 6px;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputbox input:focus~span,
.contactForm .inputbox input:valid~span,
.contactForm .inputbox textarea:focus~span,
.contactForm .inputbox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputbox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 790px) {
    .contact {
        padding: 50px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-container .contactinfo {
        margin-bottom: 40px;
    }

    .contact-container .contactinfo,
    .contactForm {
        width: 100%;
    }
}

/*-----------contact part ends--------------*/




/*-----------footer part starts--------------*/
footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


footer .si,
footer .menus {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .si li,
footer .menus li {
    list-style: none;
}

footer .si li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .si li a:hover {
    transform: translateY(-10px);
}

footer .menus li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menus li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave1 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave2 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave2 3s linear infinite;
}

@keyframes animatewave1 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animatewave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

/*-----------footer part ends--------------*/
